.pic1 {
    background-image: url("./images/pic1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    grid-column: 1/3;
}

.pic2 {
    background-image: url("./images/pic2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    grid-column: 3/4;
    grid-row: 1/3;
}

.pic3 {
    background-image: url("./images/pic3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    grid-column: 1/2;
}

.pic4 {
    background-image: url("./images/pic4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    grid-column: 2/3;
}

.pic5 {
    background-image: url("./images/pic5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1/3;
    border: 1px solid black;
}

.pic6 {
    background-image: url("./images/pic6.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
}

.item {
    padding: 5px;
    background-color: rgb(15, 15, 15);
}

.all {
    display: grid;
    grid-template-columns: repeat(4, 420px);
    grid-template-rows: repeat(3, 200px);
    row-gap: 20px;
    column-gap: 20px;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(77, 75, 56);
}